/*CSS reset settings here*/

* {
    margin: 0px;
    padding: 0px;
}

#wrapper {
    width: 950px;
    background-color: grey;
    margin: 0px auto;
}

#header {
    min-height: 150px;
    background-color: purple;
    margin: 10px;
}

#navigation {
    min-height: 300px;
    width: 200px;
    background-color: #ffc0cb;
    display: inline-block;
    margin: 10px;
}

#main_content {
    min-height: 400px;
    width: 700px;
    background-color: blue;
    display: inline-block;
    vertical-align: top;
    margin: 10px;
    padding-left: 6px;
}

.subcontents {
    min-height: 200px;
    width: 210px;
    background-color: yellow;
    display: inline-block;
    position: relative;
    margin: 10px 5px;
}

#advertisement {
    min-height: 120px;
    width: 660px;
    background-color: green;
    position: relative;
    margin-left: 5px;
}